<div id="login-form-container">
<h2>Login or Register</h2>
<input placeholder="Username" type="text" class="form-control" id="tb-username"/>
<input placeholder="Password" type="password" class="form-control" id="tb-password"/>
<div>
<button id="btn-login" class="btn btn-defaut">Login</button>
<button id="btn-register" class="btn btn-defaut">Register</button>
</div>
</div>
