<div id="login-form-container">
    <h2>Register User</h2>
    <input placeholder="Username" type="text" class="form-control" id="tb-username" />
    <input placeholder="Password" type="password" class="form-control" id="tb-password" />
    <input placeholder="E-mail" type="email" class="form-control" id="tb-email" />
    <input placeholder="Display Name" type="text" class="form-control" id="tb-displayName" />
    <div>
        <button id="btn-register" class="btn btn-defaut">Register</button>
    </div>
</div>